<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Page</title>

    <!-- Link for two fonts used in the website -->
    <link href="https://api.fontshare.com/v2/css?f[]=erode@700,300,500,600,400&f[]=recia@700,500,600,400&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="./css/global.css">
    <link rel="stylesheet" href="./css/products.css">
    <link rel="stylesheet" href="./css/animation.css">
</head>

<body>

    <!-- Header -->
    <header class="header-section">
        <input type="hidden" value="Books" id="current-page">
    </header>


    <!-- Main -->
    <main>
        <!-- Introduction Section -->
        <section class="intro-card">
            <img class="plant" src="./images/plants.svg" alt="plant svg">
            <div class="intro-text">
                <span>Explore limitless books and start your journey.</span>
                <p> With our vast collection of millions of books, delve into a world of
                    imagination and find your next captivating read!
                </p>
            </div>
            <img class="girl-on-book" src="./images/girl on book.svg" alt="girls on book svg">

        </section>

        <!-- Products Section -->
        <section class="product-section">
            <!-- Title -->
            <div class="heading">
                <h2>All Genres</h2>
            </div>

            <!-- Products -->
            <div class="products-wrapper">
                <div class="product">
                    <a class="view-detail-btn" href="./product-details.html">
                        <button class="btn-style-2">
                            View Detail
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 12H8M16 12C16 11.2998 14.0057 9.99153 13.5 9.5M16 12C16 12.7002 14.0057 14.0085 13.5 14.5"
                                    stroke="#0F2F60" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M21.5 12C21.5 7.52166 21.5 5.28249 20.1088 3.89124C18.7175 2.5 16.4783 2.5 12 2.5C7.5217 2.5 5.2825 2.5 3.8912 3.89124C2.5 5.28249 2.5 7.52166 2.5 12C2.5 16.4783 2.5 18.7175 3.8912 20.1088C5.2825 21.5 7.5217 21.5 12 21.5C16.4783 21.5 18.7175 21.5 20.1088 20.1088C21.5 18.7175 21.5 16.4783 21.5 12Z"
                                    stroke="#0F2F60" stroke-width="1.5" />
                            </svg>
                        </button>
                    </a>
                    <div class="background">
                        <!-- 3d Book -->
                        <div class="book-style-2 book">
                            <div class="book-cover">
                                <img width="100%" height="100%" src="./images/atomic_habits.jpeg" alt="">
                            </div>

                            <div class="book-middle">
                                <div class="white-pages"></div>
                            </div>
                            <img class="shadow" src="./images/book shadow.svg" alt="book shadow">
                        </div>
                    </div>
                    <div class="details dpr">
                        <span class="price">£18.99</span>
                        <img width="100px" class="rating" src="./images/4-review.svg" alt="">
                    </div>

                    <div class="details dna">
                        <a class="name" href="">
                            <span>
                                Atomic Habits
                            </span>
                        </a>
                        <div class="action">
                            <button>Add</button>
                        </div>
                    </div>

                </div>

                <div class="product">
                    <a class="view-detail-btn" href="./product-details.html">
                        <button class="btn-style-2">
                            View Detail
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 12H8M16 12C16 11.2998 14.0057 9.99153 13.5 9.5M16 12C16 12.7002 14.0057 14.0085 13.5 14.5"
                                    stroke="#0F2F60" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M21.5 12C21.5 7.52166 21.5 5.28249 20.1088 3.89124C18.7175 2.5 16.4783 2.5 12 2.5C7.5217 2.5 5.2825 2.5 3.8912 3.89124C2.5 5.28249 2.5 7.52166 2.5 12C2.5 16.4783 2.5 18.7175 3.8912 20.1088C5.2825 21.5 7.5217 21.5 12 21.5C16.4783 21.5 18.7175 21.5 20.1088 20.1088C21.5 18.7175 21.5 16.4783 21.5 12Z"
                                    stroke="#0F2F60" stroke-width="1.5" />
                            </svg>
                        </button>
                    </a>
                    <div class="background">
                        <!-- 3d Book -->
                        <div class="book-style-2 book">
                            <div class="book-cover">
                                <img width="100%" height="100%" src="./images/ikigai.jpg" alt="">
                            </div>

                            <div class="book-middle">
                                <div class="white-pages"></div>
                            </div>
                            <img class="shadow" src="./images/book shadow.svg" alt="book shadow">
                        </div>
                    </div>
                    <div class="details dpr">
                        <span class="price">£10.59</span>
                        <img width="100px" class="rating" src="./images/4-review.svg" alt="">
                    </div>

                    <div class="details dna">
                        <a class="name" href="./product-details.html">
                            <span>
                                Ikigai: The Japanese Scret
                                to Long and Happy life
                            </span>
                        </a>
                        <div class="action">
                            <button>Add</button>
                        </div>
                    </div>

                </div>


            </div>

        </section>

        <!-- shopping cart section -->
        <div class="cart" id="open-cart-btn">
            <button>
                <img src="./images/book_cart.svg" alt="cart svg">
            </button>
            <span class="hidden">
                <p>1</p>
            </span>
        </div>

        <!-- shopping cart panel section -->
        <div class="cart-section" id="cart">
            <div class="cart-panel-wrapper">
                <div class="heading">
                    <h4>My Cart</h4>
                    <svg id="close-cart-btn" width="13" height="13" viewBox="0 0 13 13" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.625 1.375L1.375 11.6243M11.625 11.625L1.375 1.37567" stroke="#0F2F60"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <div class="cart-books-wrapper">

                    <!-- empty cart -->
                    <div class="empty-cart hidden">
                        <img src="./images/empty_cart_icon.svg" alt="empty-cart-icon">
                        <p>The cart is empty.</p>
                    </div>
                    <!-- cart book -->
                    <div class="cart-book">
                        <div class="image">
                            <img width="80px" src="./images/ikigai.jpg" alt="">
                        </div>
                        <div class="info">
                            <div class="rating">
                                <img src="./images/4-review.svg" alt="4-review image">
                                <a class="remove">Remove</a>
                            </div>
                            <span class="title">
                                Ikigai: The Japanese secret to
                                a long and happy life
                            </span>
                            <div class="price_amount">
                                <span class="price">$21.99</span>
                                <div class="amount">
                                    <button class="minus">
                                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20 12H4" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                    </button>
                                    <span>1</span>
                                    <button class="plus">
                                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12 4V20M20 12H4" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="subtotal">
                    <span>Subtotal</span>
                    <span>$29.91</span>
                </div>
                <a class="checkout" href="./review-order.html">
                    <button class="btn-style-1">
                        Checkout Now
                    </button>
                </a>

            </div>
        </div>

    </main>

    <!-- Footer -->
    <footer>
    </footer>


    <script src="./js/add-to-cart.js"></script>
    <script src="./js/header.js"></script>
    <script src="./js/footer.js"></script>
    <script src="./js/nav-toggle.js"></script>

</body>


</html>