.chapter-one {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.chapter-one > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.chapter-one > div > h2{
    width: 30%;
    font-size: clamp(2rem, 5.5vw - 1rem, 2.6rem);
}
.chapter-one > div > p{
    width: 70%;
    padding: 1rem;
}
.about-illustration {
    display: flex;
    justify-content: center;
}

/* small screens like laptop */
@media screen and (max-width: 1024px) { 
    .chapter-one {
        width: 90%;
    }
}

/*  ipad, tablets */
@media screen and (max-width: 768px) {
    .chapter-one > div > h2 {
        width: 100%;
        margin: 0;
    }
    .chapter-one > div {
       flex-direction: column;
       gap: 1rem;
       justify-content: flex-start;
    }
    .chapter-one > div > p {
        width: 100%;
        padding-left: 4rem;
    }
    .about-illustration > img {
        width: 300px;
    }
}
@media screen and (max-width: 480px) {
    .chapter-one {
        gap: 2rem;
    }
    .chapter-one > div {
        gap: 0.4rem;
    }
    .chapter-one > div > p {
        padding: 0;
        text-align: center;
    }
    .about-illustration > img {
        width: 240px;
    }
}

/* Smallest Mobile devices */
@media screen and (max-width: 319px) {
    
}