section {
    padding-bottom: 1rem;
}
.welcome {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.tables > table {
    width: 100%;
    border-collapse: collapse;

}
.tables > table > thead {
    background-color: #0F2F60;
    color: #FFFFFF;
    text-align: left;
    font-size: 1rem;
}
.tables > table > thead > tr > th,.tables > table > tbody > tr > td {
    /* padding: 0rem 4px; */
}
tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}
.tables > .action {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    /* justify-content: center; */
    /* background-color: red; */
}
.tables > .action > span {
    font-size: 1.6rem;
    font-weight: 600;
}
.tables > .action > a {
    background-color: #1976D2;
    padding: 0.4rem 2rem;
    border-radius: 900px;
    font-family: 'Erode', serif;
    color: #FFFFFF;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}
.tables > .action > a:hover {
    transform: scale(0.9);
    background-color: #FFFFFF;
    border: 2px solid #19D258;
    color: #19D258;
}
.update-delete {
    font-size: .8rem;
    display: flex;
    gap: .2rem;
}
.update-delete > a {
    padding: 0.3rem 1rem;
    border-radius: 100px;
    color: #FFFFFF;
    font-family: 'Erode', serif;
    font-weight: 600;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.2s ease-in-out;

}
.update-delete > a:first-child {
    background-color: #FFFFFF;
    border: 2px solid #1976D2;
    color: #1976D2;
    
}
.update-delete > a:last-child {
    background-color: #FFFFFF;
    border: 2px solid #E53935;
    color: #E53935;
}
.update-delete > a:hover {
    transform: scale(0.9);
}
form {
    width: fit-content !important;
}
form button {
    width: 0%;
    padding: 0rem;
    color: #FFFFFF;
    background: transparent;
    border-radius: 100px;
    transition: transform 0.2s ease-in;
}

dialog {
    margin: auto;
    padding: 1rem;
}
dialog::backdrop {
    opacity: 1;
    background-color: rgba(209, 209, 211, 0.196);
    backdrop-filter: blur(5px);
}
dialog > * {
    padding: 1rem;
    color: #0F2F60;

}
dialog  div {
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
    background-color: transparent;
}
dialog  div  button,dialog  div  span{
    width: 100%;
    padding: 0.4rem 2rem !important;
    color: #FFFFFF;
    border-radius: 100px;
    transition: transform 0.2s ease-in;
    text-align: center;
    cursor: pointer;
}
dialog  div  button > a{
  color: #E53935;
}

dialog  div  button:first-child {
    background-color: #FFFFFF;
    border: 2px solid #E53935;
    color: #E53935;
}
dialog  div  span {
    background-color: #FFFFFF;
    border: 2px solid #1976D2;
    color: #1976D2;
}


